<div class="jumbotron">
  <h1>Welcome to ebook-store</h1>
  <p>The Largest Online Book Store</p>
  <%= link_to "Books", books_path, class: "btn btn-primary btn-md" %>
  <%= link_to "Sign_up", new_user_session_path, class: "btn btn-primary btn-md" %>
</div>  